/* Mixin classes
-------------------------------------------------------------- */

// clearfix
// --------
// for clearing floats like a boss h5bp.com/q
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

.border-radius(@radius: 5px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius; 
}

.top-gradient (@startColor,@stopColor){
    background: @startColor; /* Old browsers */
	background: -moz-linear-gradient(top, @startColor 0%, @stopColor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@stopColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @startColor 0%,@stopColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @startColor 0%,@stopColor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @startColor 0%,@stopColor 100%); /* IE10+ */
	background: linear-gradient(to bottom, @startColor 0%, @stopColor 100%); /* W3C */
	/*filter: e(%("progid:DXImageTransform.Microsoft.Gradient(StartColorStr='%d', EndColorStr='%d', GradientType=0)",@startColor,@stopColor));*/	
}