/* ColumnTree classes
-------------------------------------------------------------- */

.column-tree {
    height: 100%;
    marin: 20px;
    border: 1px solid #666;
    .clearfix();

    .column {
        float: left;
        width: 260px;
        height: 100%;
        overflow: auto;
        border-right: 1px solid #666;
    }

    ul {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
    }

    li {
        overflow: hidden;
        height: 22px;
        padding: 0 10px 0 22px;
    }

    li:hover {
        background-color: #ebebeb;
    }

    li.page,
    li.folder {
        background-image: url('../img/icons/page.png');
        background-repeat: no-repeat;
        background-position: 2px 2px;
    }

    li.folder {
        background-image: url('../img/icons/folder.png');
    }
}

/* Layout classes
-------------------------------------------------------------- */

.layout {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;


    .panel {
        overflow: hidden;
    }

    .handler {
        position: absolute;
        background-color: #ebebeb;
    }

    .content {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .west {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 260px;

        .handler {
            top: 0;
            right: 0;
            width: 5px;
            height: 100%;
            cursor: ew-resize;
        }
    }

    .north {
        position: absolute;
        left: 0;
        top: 0;
        height: 160px;
        width: 100%;

        .handler {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
            cursor: ns-resize;
        }
    }

    .center {
        position: absolute;
    }
}