.busy {
    background: url('../img/loader_big.gif') no-repeat center;
}

.column-tree {
    height: 160px;
    marin: 20px;
    border: 1px solid #666;
}

.column-tree .column {
    float: left;
    width: 260px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #666;
}

.column-tree ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.column-tree li {
    overflow: hidden;
    height: 22px;
    padding: 0 10px 0 22px;
}

.column-tree li:hover {
    background-color: #ebebeb;
}

.column-tree li.page,
.column-tree li.folder {
    background-image: url('../img/icons/page.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.column-tree li.folder {
    background-image: url('../img/icons/folder.png');
}